body {
    display: flex;
    margin-top: 30px;
    align-items: flex-start; /* Align content to the top */
    background-color: #1e1a1b; /* Set your background color */
}

/* Style the navbar */
.navbar {
    width: 300px; /* Adjust the width of the navbar as needed */
    padding: 40px; /* Adjust padding as needed */
    /* Add other styles as needed for your navbar */
}

.logo-image {
    max-width: 300px;
    height: auto;
    margin-left: 5px;
}

.nav-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    position: relative;
}

.nav-button {
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    border: none;
    margin: 5px 0;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    font-size: 22px;
    font-family: Georgia, serif;
}

.nav-button:hover,
.sign-up-button:hover,
.login-register-confirm-button:hover{
    transform: scale(1.2);
    color: #573414;
}

.nav-button a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit the color from the parent element */
}

/* Add golden lines using pseudo-elements */
.nav-buttons::before,
.nav-buttons::after {
    content: "";
    background-color: #573414; /* Golden color */
    height: 4px; /* Line height */
    width: 70%; /* Line width */
    position: absolute;
    left: 40;
    transition: transform 0.2s ease-in-out;
}

.nav-buttons::before {
    top: 0; /* Position the line above buttons */
}

.nav-buttons::after {
    bottom: 0; /* Position the line below buttons */
}

/* Add hover effect for the lines */
.nav-buttons:hover::before,
.nav-buttons:hover::after {
    transform: scaleX(1.2); /* Scale the lines on hover */
}

.small-logo-bottom-middle {
    max-width: 50px; /* Adjust the size as needed */
    height: auto;
    position: absolute; /* Position the image */
    bottom: 0; /* Position at the bottom */
    left: 50%; /* Start at the horizontal center */
    transform: translateX(-50%); /* Center horizontally */
}

.login-register-container {
    width: 300px;
    text-align: center;
    margin-top: 100px; /* Adjust margin-top as needed to move it to the upper-top */
    margin-left: 200px;
    color: white;
    position: relative;
    border: 5px solid #573414; /* You can adjust the border width and color as needed */
    border-radius: 10px;
    padding: 40px; /* Optional: Add some padding to create space between the content and the border */
}

.login-register-container label {
    display: block; /* Display labels on their own lines */
    font-weight: bold; /* Make labels bold, adjust as needed */
}

.login-register-container input {
    font-size: 18px;
}

/* Style the login form */
.login-register-container form {
    display: inline-block;
    margin-bottom: 20px; /* Add space between form and button */
    font-size: 20px;
}

.signup-link-container {
  display: flex;
  align-items: center; /* Vertically center the content */
  justify-content: flex-end; /* Push content to the right */
  margin-top: 10px; /* Adjust margin as needed */
}

/* Style the "No account yet?" text */
.no-account-text {
  margin-left: 210px; /* Add space between text and button */
  color: white;
}

/* Style the Sign up button */
.sign-up-button {
    display: block;
    margin: 0 auto; /* Center the button horizontally */
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: white;
    transition: transform 0.2s ease-in-out;
}

.sign-up-button a {
    text-decoration: none; /* Remove underline */
    color: inherit;
}

.login-register-confirm-button {
    background-color: transparent;
    border: none;
    border-radius: 2px;
    font-size: 20px;
    color: white;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.form-group img.captcha {
    width: 150px;
    margin-top: 20px;
    display: block;
    margin-bottom: 20px;
    margin-left: 40px;
}

#id_captcha_1 {
    width: 100px;
}

ul.messages {
  list-style: none; /* Remove the default list style */
  padding: 0; /* Remove default padding */
  color: red;
  margin-top: 20px;
  font-size: 25px;
  margin-bottom: 0px;
}

.page-title {
    color: white;
    margin-top: 80px;
    margin-left: 50px;
}

h2.coins-in-account {
    margin-top: 20px;
    color: white;
    margin-left: 50px;
}

#donation-form {
    color: white;
    margin-top: 100px;
    margin-left: 50px;
    line-height: 2.5;
    font-size: 20px;
}

#dollar-cost,
#coins {
    width: 80px;
    font-size: 20px;
}

.ten-off-text {
    font-size: 15px;
}

.coins-img {
    width: 35px;
}

/* Style for the characters table */
.characters-table {
    width: 500px; /* Make the table wider */
    border: 5px solid #573414; /* Add an outer border with golden color */
    margin-left: 50px;
    margin-top: 60px;
    border-collapse: collapse;
}

/* Header row styles */
.characters-table th {
    background-color: #573414;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 8px;
    font-size: 25px;
}

/* Alternating row background colors */
.characters-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.characters-table tbody tr:nth-child(odd) {
    background-color: grey;
    color: black;
}

/* Hover effect on rows */
.characters-table tbody tr:hover {
    background-color: #573414;
    color: #fff; /* Change text color on hover to improve contrast */
    cursor: pointer;
}

/* Cell styles */
.characters-table td {
    padding: 8px;
}

/* Center align numeric cells (Level and Coins) */
.characters-table td {
    text-align: center;
}

.top-right-content {
    width: 100px;
    height: 100px;
    text-align: center;
    position: fixed;
    top: 40px; /* Adjust the top position as needed */
    right: 40px; /* Adjust the right position as needed */
    background-color: transparent; /* Background color */
    padding: 10px;
    margin: 50px;
    border: 5px solid #573414; /* Optional border for better visibility */
    border-radius: 5px; /* Optional border radius for rounded corners */
    z-index: 9999; /* Set a high z-index to ensure it's above other content */
    color: white;
}

.base-logout {
    color: #573414;
    font-size: 38px;
    margin-top: 10px;
}

.base-logout:hover {
   transform: scale(1.4);
   transition: transform 0.3s ease;
}

.user-info {
    position: absolute;
    top: 80px;
    right: 65px;
    color: white;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    flex-direction: column; /* Stack child elements vertically */
    border: 4px outset #573414;
    padding: 15px;
}

.user-info-row {
    display: flex;
    align-items: center;
}

.user-info-row i {
    font-size: 30px;
    margin-right: 10px;
    color: #573414;
}

.user-info-row h2 {
    margin: 0;
    padding-right: 10px;
    font-size: 28px;
}

.user-image {
    margin-right: 10px;
    width: 35px;
}

.coins-in-account {
    margin-right: 10px;
}

.coins-in-account {
    color: white;
    font-size: 20px;
}

.checkout {
    margin-top: 80px;
}

.checkout-text {
    color: white;
}

.checkout-button {
  border: none;
  border-radius: 10px;
  background-color: #573414;
  display: inline-block;
  padding: 12px 32px;
  cursor: pointer;
  margin-top: 20px;
}

.checkout-button:hover {
  background-color: #704a2c;
}

.donate-coins-img {
    width: 28px;
    margin-left: 3px;
}

a#checkout-link {
  color: white !important; /* Add !important to override any conflicting styles */
  text-decoration: none !important; /* Add !important to remove text decoration */
  font-size: 24px;
}

.password-input-container {
    display: inline-block;
    position: relative;
}

.toggle-password {
    position: absolute;
    top: 36%;
    right: -40px;
    transform: translateY(-50%);
    cursor: pointer;
}