{% extends "base.html" %}

{% load static %}

{% block title %}Account{% endblock %}

{% block content%}
    <h1 class="page-title">Account {{ user.username }}</h1>
    <h2 class="coins-in-account">Coins of Luck: {{ wallet.coins }} <img class="coins-img" src="{% static 'images/coins.png' %}"></h2>

    <h1 class="page-title">Characters</h1>
    <table class="characters-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Level</th>
                <th>Coins</th>
            </tr>
        </thead>
        <tbody>
            {% for character in chars %}
                <tr onclick="transferCoins('{{ character.id }}')">
                    <td>{{ character.name }}</td>
                    <td>{{ character.level }}</td>
                    <td>{{ character.coins }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
    <script src="{% static 'scripts/account.js' %}"></script>
    <script>
        var json_data_chars = {{ json_data_chars|safe }};
        var json_data_wallet = {{ json_data_wallet|safe }};
    </script>
{% endblock %}

