{% extends "base.html" %}

{% load static %}

{% block title %}Donation{% endblock %}

{% block content %}
  <h1 class="page-title">Donation</h1>

  <form method="post" id="donation-form">
    {% csrf_token %}

    <!-- Input for entering the number of coins -->
    <label for="coins">Number of Coins:</label>
    <input type="number" name="coins" id="coins" min="1" required>
    <br>
    <p class="ten-off-text">(Save 10% above 600 coins)</p>

    <!-- Input for showing the dollar cost -->
    <label for="dollar-cost">Dollar Cost:</label>
    <input type="text" name="dollar-cost" id="dollar-cost" readonly>
    <br>

    <a href="#" id="paypal-button" title="Pay with paypal">
      <img src="{% static 'images/paypal-button.png' %}" alt="PayPal" style="border: none;" width="100">
    </a>
  </form>

{% block scripts %}
  <script src="{% static 'scripts/donate.js' %}"></script>
{% endblock %}

{% endblock %}