{% extends "base.html" %}

{% load static %}

{% block title %}L2 Hiro{% endblock %}

{% block content%}

<div class="homepage-container">
  <h1>Join Lineage 2 Hiro</h1>
    <a class="dl-button" href="{% static 'chemin/vers/le/fichier/mon_fichier.zip' %}" download title="Download Client">Download Client</a>
    <a class="dl-button" href="{% static 'chemin/vers/le/fichier/mon_fichier.zip' %}" download title="Download Patch">Download Patch</a>
    <p>To apply the patch, you need to replace the whole system and just add files in SysTexture; do not replace the entire SysTexture folder.</p>
</div>

{% endblock %}
