{% load static %}

<nav class="navbar">
    <img class="logo-image" src="{% static 'images/LOGO_Hiro.png' %}">
    <div class="nav-buttons">
        <button class="nav-button"><a href="{% url 'homepage' %}">Homepage</a></button>
        <button class="nav-button"><a href="{% url 'account' %}">Account</a></button>
        <button class="nav-button"><a href="https://lineage2hiroforum.forumactif.com/">Forum</a></button>
        <button class="nav-button"><a href="{% url 'news' %}">News</a></button>
        <button class="nav-button"><a href="{% url 'donate' %}">Donate</a></button>
    </div>
</nav>