{% extends "base.html" %}

{% load static %}

{% block title %}Password-reset{% endblock %}

{% block content%}
    <h1 class="page-title">Password-reset for {{ user.login }}</h1>

    <form id="resetForm">
        <input type="password" name="new_password1" id="newPassword1" placeholder="New Password">
        <input type="password" name="new_password2" id="newPassword2" placeholder="Confirm New Password">
        <button type="button" onclick="resetPassword({{ user.id }})">Reset Password</button>
    </form>
{% endblock %}

{% block scripts %}
  <script src="{% static 'scripts/password_reset_form.js' %}"></script>
{% endblock %}