{% extends "base.html" %}

{% load static %}

{% block title %}Login{% endblock %}
{% block content %}

<div class="login-register-container">
  <h1>Login</h1>
  <form method="post">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" name="username" id="username">
    <br>
    <label for="password">Password:</label>
        <div class="password-input-container">
            <input type="password" name="password" id="password">
            <i class="toggle-password fas fa-eye" id="toggle-password" title="Show password"></i>
        </div>
    <br>
    <input type="submit" class="login-register-confirm-button" value="Login" id="login-button">
  </form>
</div>

<div class="signup-link-container">
  <p class="no-account-text">No account yet?</p>
  <button class="sign-up-button"><a href="/registration/">Sign up</a></button>
</div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'scripts/login.js' %}"></script>
{% endblock %}